/* core css styles */

/*
    font-family: 'Indie Flower', cursive;
*/

/* ----- */

/* core */

html {
    font-size: 100%;
}

body {
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
}

header, main, footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

header *, main *, footer * {
    margin: auto;
}

/*  */

/* ------- */

/* header */

header {
    font-size: 2rem;
    padding: 2%;
}

/*  */

/* ------- */

/* footer */

footer {
    font-size: inherit;
    margin-top: 2%;
    padding: 3%;
}

footer ul {
    width: 80%;
}

footer ul li {
    padding: 1%;
    list-style: none;
}

/*  */

/* ------------------- */

/* form and text area */

form {
    width: 90%;
    height: auto;
    border-width: thin;
    border-style: solid;
    border-color: #ddd;
}

textarea {
    font-size: 1.4rem;
    border: none;
    width: 100%;
    height: 400px;
    padding: 1%;
    background: #eee;
    resize: none;
}

/* ----------------- */

/* git hub logo */

.git-hub-logo {
    max-width: 100%;
    vertical-align: middle;
}